
@font-face {
    font-family: Vazirmatn;
    src: url(./webfonts/Vazirmatn-Regular.woff2) format("woff2"), 
         url(./ttf/Vazirmatn-Regular.ttf) format("truetype");
         font-weight: 400;
}

@font-face {
    font-family: Vazirmatn;
    src: url(./webfonts/Vazirmatn-Thin.woff2) format("woff2"), 
         url(./ttf/Vazirmatn-Thin.ttf) format("truetype");
         font-weight: 100;
}

@font-face {
    font-family: Vazirmatn;
    src: url(./webfonts/Vazirmatn-Black.woff2) format("woff2"), 
         url(./ttf/Vazirmatn-Black.ttf) format("truetype");
         font-weight: 900;
}

@font-face {
    font-family: Vazirmatn;
    src: url(./webfonts/Vazirmatn-Bold.woff2) format("woff2"), 
         url(./ttf/Vazirmatn-Bold.ttf) format("truetype");
         font-weight: 700;
}

@font-face {
    font-family: Vazirmatn;
    src: url(./webfonts/Vazirmatn-Light.woff2) format("woff2"), 
         url(./ttf/Vazirmatn-Light.ttf) format("truetype");
         font-weight: 300;
}